.stopwatch{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;

    width: 800px;
    height: 600px;
    background-color: #dedede;
}

.time{
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 450px;
    height: 50px;
    background-color: azure;
    font-size: 24pt;
    border: 2px solid black;
    text-align: center;
    margin-top: 20px;
}

.navigation{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
}

.display{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
}

.start-pause-button{
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 150px;
    height: 50px;
    background-color: greenyellow;
    text-align: center;
    font-size: 24pt;
    border: 2px solid black;
    cursor: pointer;
    user-select: none;
    margin-right: 10px;
}

.start-pause-button.isStart{
    background-color: #fff100;
}

.stop-button{
    width: 150px;
    height: 50px;
    background-color: red;
    text-align: center;
    font-size: 24pt;
    border: 2px solid black;
    cursor: pointer;
    user-select: none;
}

.lap-button{
    width: 150px;
    height: 50px;
    background-color: #6061ff;
    text-align: center;
    font-size: 24pt;
    border: 2px solid black;
    cursor: pointer;
    user-select: none;
    margin-left: 10px;
}

.clock_face{
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 1;
}

.seconds-arrow{
    position: absolute;
    margin-top: 72px;
    z-index: 3;
}

.minutes-arrow{
    position: absolute;
    margin-top: 70px;
    z-index: 2;
}

.laps{
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid black;
    width: 200px;
    height: 90px;
    background-color: azure;
}